.topList {
    padding: 0
}
.topList  li{
    padding: 0px 10px;
    list-style-type: none;
    font-size: 14px;
    color: #8d8c8c;
    transition: color 0.2s;
    cursor: pointer;
}
.topList  li:hover {
    color: #272727
}
.lineDiv {
    height: 10px;
    border-top: 1px solid #8d8c8c;
    width: 100%; 
}
.link li{
    padding: 4px 15px;
    list-style-type: none;
    font-size: 14px;

}
.link li a {
    color: #8d8c8c;
    transition: color 0.3s;
}
.link li a:hover {
    color: #fd602c;
    text-decoration: none;
}
.this {
    color: #fd602c !important;
}
.headerImg{
    position: relative;
}
.headerImg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #27272791
}
.content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h2 ,h4 {
    color: white
}
.hovered{
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    margin-left: -3rem
}
.hovered li {
    padding-left: 0;
    color: #727272;
    transition: color 0.3s;
    cursor: pointer;
}
.link li:hover .hovered{
    display: block
}
.hovered li:hover {
    color: #242424
}


/* Main starts */

.greyP {
    color: #727272
}

.slider {
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.slider-container{
    position: relative;
    height: 100%;
    transition: all 0.7s;
}
.slider .slider-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.slider .slider-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    outline-style: none;
}
.slider .slider-button.slider-button-left{
    left: 10px;
}
.slider .slider-button.slider-button-right{
    left: 98%
}


.slider-content {
    position: absolute;
    color: #fff;
    font-size: 30px;
}

.circle {
    position: relative;
}
.circle img {
    border-radius: 50%;
}
.circleOrg {
    background-color: #fd602ce3;
    border: 1px solid #fd602ce3;
    border-radius: 50%;
    width: 70%;
    height: 100%;
    position: absolute;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center
}
.overlay {
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    left: 40%;
    top: 13%;
    z-index: 1
}
.text {
    margin: auto
}
.ul {
    padding-left: 0
}
.ul li{
    list-style-type: none;
    color: #8d8c8c
}
.ul li i{
    color: #fd602c;
    margin-right: 0.5rem
}
.button p{
    color: white;
    margin-bottom: 0
}
.button:hover {
    background-color: black;
    border-color: black;
}

.button {
    border: 1px solid #fd602c;
    border-radius: 20px;
    background-color: #fd602c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    transition: background-color 0.3s;
    transition: border-color 0.3s;
}
.iconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconDiv i {
    font-size: 1.5rem;
    border: 1px solid #e4e4e4; 
    border-radius: 50%;
    padding: 1.3rem
}
.contentHolder {
    border: 1px solid #e4e4e4;
    background-color: white;
    padding: 1.2rem;
    border-radius: 2px;
    transition: transform 0.2s ease-in-out
}
.hover:hover .contentHolder{
    transform: translateY(-25%)
}
.imgHolder div {
    overflow: hidden;
}
.imgHolder img {
    transition: all 0.3s
}
.hover:hover .imgHolder img{
    transform: scale(1.1,1.1)
}
.cbpItem {
    position: relative;
}
.shadow {
    background-color: #161616e0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.2s;
    opacity: 0;
}
.cbpItem:hover .shadow{
    opacity: 1;
}
.pic {
    overflow: hidden;
}
.pic img {
    transition: all 0.2s ease-in-out
}
.cbpItem:hover  .pic img {
    transform: scale(1.3,1.3)
}
input {
    width: 90%;
    background-color: #fd602c;
    border:1px solid #e4e4e4;
    padding: 0.5rem;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
.submit {
    background-color: white;
    border: 1px solid white;
    padding: 0.5rem;
    width: 9%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 2rem;
    bottom:14rem
}
.parallax {
    background-image: url("./Photos/parallax.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative
}
.parallax::before {
    background-color: #272727c9;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.pricing {
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
    padding: 1rem
}
.pricing h3 , .pricing h4 {
    text-align: center;
    color: black
}
.pricing ul {
    list-style-type: none;
    padding-left: 0
}
.pricing ul li {
    color: #727272;
    text-align: center
}
.premium {
    border: 1px solid #fd602c;
    background-color: #fd602c;
    padding: 1rem;

}
.premium h3 , .premium h4 {
    text-align: center;
    color: white !important
}
.premium ul {
    list-style-type: none;
    padding-left: 0
}
.premium ul li {
    color: white;
    text-align: center
}
.premBtn {
    background-color: white;
}
.premBtn p {
    color: black;
}
.premBtn:hover p {
    color: white
}
.ticket {
    position: absolute;
    left:  57%;
    top: 22%
}
.parallax2 {
    background-image: url("./Photos/parallax2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.parallax2::before {
    position: absolute;
    content: "";
    background-color: #272727c9;
    width: 100%;
    height: 100%;
}
.prev , .next {
    background-color: transparent;
    border: none
}
#button {
    border: 1px solid white;
    background-color: #fd602c;
    transition: 0.3s;
    color: white;
    padding: 1rem
}
#button:hover {
    background-color: white;
    border-color: white;
    color: black
}




/* Footer starts */




.footerUl li{
    color: #727272;
    list-style-type: none;
    padding: 0.5rem 0
}
.footerImg{
    display: flex
}
.footerImg h5{
    color: white
}
.footerImg p {
    color:#727272
}
.footerImg small{
    color: #494747
}
.footerImg img {
    border-radius: 50%;
}
.tag{
    padding: 5px 15px 5px 15px;
    margin: 0 10px 10px 0;
    color: #727272;
    border: 1px solid #2e2e2e;
    transition: color 0.5s;
    cursor: pointer;
}
.thisTag{
    color: #fd602c;
    border-color: #fd602c
}
.tag:hover {
    color: #fd602c;
    border-color: #fd602c;
}
.useLinks p {
    color: #727272;
    cursor: pointer;
    transition: color 0.5s;
}
.useLinks p:hover {
    color: white
}
.mediaIcon {
    font-size: 1rem;
    color: #fd602c;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
    background-color:white;
    cursor: pointer;
    transition:color 0.5s;
}
.mediaIcon:hover {
    color:white;
    background-color: #fd602c;
    border-color: #fd602c
}
.mediaIconThis{
    color:white;
    background-color: #fd602c;
    border-color: #fd602c
}