* {
    box-sizing: border-box;
    margin: 0;
}
.topList {
    padding: 0
}
.topList  li{
    padding: 0px 10px;
    list-style-type: none;
    font-size: 14px;
    color: #8d8c8c;
    transition: color 0.2s;
    cursor: pointer;
}
.topList  li:hover {
    color: #272727
}
.lineDiv {
    height: 10px;
    border-top: 1px solid #8d8c8c;
    width: 100%; 
}
.link li{
    padding: 4px 15px;
    list-style-type: none;
    font-size: 14px;

}
.link li a {
    color: #8d8c8c;
    transition: color 0.3s;
}
.link li a:hover {
    color: #fd602c;
    text-decoration: none;
}
.this {
    color: #fd602c !important;
}
.headerImg{
    position: relative;
}
.headerImg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #27272791
}
.content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h2 ,h4 {
    color: white
}
.hovered{
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    margin-left: -3rem
}
.hovered li {
    padding-left: 0;
    color: #727272;
    transition: color 0.3s;
    cursor: pointer;
}
.link li:hover .hovered{
    display: block
}
.hovered li:hover {
    color: #242424
}

/* Main starts */

.dNone {
    display: none
}
.panel {
    border-top: 1px solid  #e4e4e4;
    border-right: 1px solid  #e4e4e4;
    border-left: 1px solid  #e4e4e4;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 3px 3px 0 0 
}
.panelText {
    color: #161616;
    margin: 0.5rem 0
}
.opened {
    border-bottom: 1px solid  #e4e4e4;
    border-right: 1px solid  #e4e4e4;
    border-left: 1px solid  #e4e4e4; 
    border-radius: 0 0 3px 3px;
}
.openedText {
    color: #7B7E85;
    margin: 1rem 0
}
.rect {
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px
}
.rect:first-child {
    border-color: #fd602c;
    background-color: #fd602c;
}
.rect:first-child p {
    color: white;
}
.rect p {
    margin: 0;
    padding: 0.7rem 0.1rem;
    transition: color 0.3s;
    cursor: pointer;
}
.rect:hover p {
    color: #fd602c
}
.button {
    border: 1px solid #fd602c;
    border-radius: 2px ;
    background-color: #fd602c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  background-color 0.3s;
    transition: border-color 0.3s;
}
.button p {
    color: white;
    margin:0;
    cursor: pointer;
    padding: 0.4rem 1rem
}
.button:hover {
    background-color: black;
    border-color: black
}
.link2 {
    padding: 0
}
.link2 li {
    font-size: 14px
}
button {
    background-color: white;
    border: 0.001rem solid #e4e4e4;
    padding: 0.4rem 1rem;
    color: #727272
}
input {
    border: 0.001rem solid #e4e4e4;
    padding: 0.4rem 1rem; 
}
.tag2 {
    color: #727272 !important;
    border-color: #e4e4ee !important;
}
.tag2:hover {
    color: white !important;
    border-color: #fd602c !important;
    background-color: #fd602c;
}
.this2 {
    color: white !important;
    border-color: #fd602c !important;
    background-color: #fd602c
}

/* Footer Starts */

.footerUl li{
    color: #727272;
    list-style-type: none;
    padding: 0.5rem 0
}
.footerImg{
    display: flex
}
.footerImg h5{
    color: white
}
.footerImg p {
    color:#727272
}
.footerImg small{
    color: #494747
}
.footerImg img {
    border-radius: 50%;
}
.tag{
    padding: 5px 15px 5px 15px;
    margin: 0 10px 10px 0;
    color: #727272;
    border: 1px solid #2e2e2e;
    transition: color 0.5s;
    cursor: pointer;
}
.thisTag{
    color: #fd602c;
    border-color: #fd602c
}
.tag:hover {
    color: #fd602c;
    border-color: #fd602c;
}
.useLinks p {
    color: #727272;
    cursor: pointer;
    transition: color 0.5s;
}
.useLinks p:hover {
    color: white
}
.mediaIcon {
    font-size: 1rem;
    color: #fd602c;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
    background-color:white;
    cursor: pointer;
    transition:color 0.5s;
}
.mediaIcon:hover {
    color:white;
    background-color: #fd602c;
    border-color: #fd602c
}
.mediaIconThis{
    color:white;
    background-color: #fd602c;
    border-color: #fd602c
}

