*{
    box-sizing: border-box;
    margin: 0;
}

.topList {
    padding: 0
}
.topList  li{
    padding: 0px 10px;
    list-style-type: none;
    font-size: 14px;
    color: #8d8c8c;
    transition: color 0.2s;
    cursor: pointer;
}
.topList  li:hover {
    color: #272727
}
.lineDiv {
    height: 10px;
    border-top: 1px solid #8d8c8c;
    width: 100%; 
}
.link li{
    padding: 4px 15px;
    list-style-type: none;
    font-size: 14px;

}
.link li a {
    color: #8d8c8c;
    transition: color 0.3s;
}
.link li a:hover {
    color: #fd602c;
    text-decoration: none;
}
.this {
    color: #fd602c !important;
}
.headerImg{
    position: relative;
}
.headerImg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #27272791
}
.content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h2 ,h4 {
    color: white
}
.hovered{
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    margin-left: -3rem
}
.hovered li {
    padding-left: 0;
    color: #727272;
    transition: color 0.3s;
    cursor: pointer;
}
.link li:hover .hovered{
    display: block
}
.hovered li:hover {
    color: #242424
}

/* Main starts */

.sliderHeading {
    color: #5e5e5e;
    font: 15px/21px Roboto, sans-serif;
}
.indicator {
    background-color: #7c8b90;
    font-size: 1rem;
    border: none;
    color: white;
}
.snackInfo {
    border:1px solid white;
    background-color:white;
    height:50%;
    width: 70%;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: border-color 0.3s;
}
.snackInfo:hover {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}
.snackInfo:hover  p {
    color: white !important
} 
.img {
    position: relative !important;
    overflow: hidden;
    z-index: 1;
   
}
.img img {
    transition: all 0.2s ease-in-out
}
.snack {
    background-color: #333333;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.img:hover img {
    transform: translateY(-22%);
}

/* Footer starts */

.footerUl li{
    color: #727272;
    list-style-type: none;
    padding: 0.5rem 0
}
.footerImg{
    display: flex
}
.footerImg h5{
    color: white
}
.footerImg p {
    color:#727272
}
.footerImg small{
    color: #494747
}
.footerImg img {
    border-radius: 50%;
}
.tag{
    padding: 5px 15px 5px 15px;
    margin: 0 10px 10px 0;
    color: #727272;
    border: 1px solid #2e2e2e;
    transition: color 0.5s;
    cursor: pointer;
}
.thisTag{
    color: #fd602c;
    border-color: #fd602c
}
.tag:hover {
    color: #fd602c;
    border-color: #fd602c;
}
.useLinks p {
    color: #727272;
    cursor: pointer;
    transition: color 0.5s;
}
.useLinks p:hover {
    color: white
}
.mediaIcon {
    font-size: 1rem;
    color: #fd602c;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1rem;
    background-color:white;
    cursor: pointer;
    transition:color 0.5s;
}
.mediaIcon:hover {
    color:white;
    background-color: #fd602c;
    border-color: #fd602c
}
.mediaIconThis{
    color:white;
    background-color: #fd602c;
    border-color: #fd602c
}

